@page "/Czekam/{KodPaczki?}"
@model PaczkaOnline.Web.Pages.CzekamModel
@{
    ViewData["Title"] = "Czekam";
}

<div class="row my-4">
    <div class="col">
        <div class="jumbotron bg-dark">
            @if (RouteData.Values["KodPaczki"] == null)
            {
                <p>Wprowadz kod paczki</p>
            }
            else
            {
                <p>Znaleziona paczka - @RouteData.Values["KodPaczki"]</p>
            }
            <a class="btn btn-outline-light mt-4 biala-ramka font-weight-bold cien" href="/Wysylam">Wysyłam Kolejną Paczkę</a>
            <a class="btn btn-outline-light mt-4 biala-ramka font-weight-bold cien" href="/">Powrót</a>
        </div>
    </div>
</div>

