@page "/Statystyki"
@model PaczkaOnline.Web.Pages.StatystykiModel
@{
    ViewData["Title"] = "Statystyki";
}

<div class="row my-4">
    <div class="col">
        <div class="jumbotron bg-dark">
            <h1 class="display-4 text-white font-weight">Statystyki</h1>

            <a class="btn btn-outline-light mt-4 biala-ramka font-weight-bold cien" href="/">Powrót</a>
        </div>
    </div>
</div>

