<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Poczta Online</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Numer paczki" aria-label="Numer Paczki">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sprawdź paczkę</button>
    </form>
</nav>