@page
@model PocztaOnline.Aplikacja.Pages.IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="jumbotron pelny-ekran my-0" style="background-image:url('/images/kurier.jpg')">
    <h1 class="display-4 text-white font-weight">Poczta Online</h1>
    <p class="lead text-white">Błyskawicznie nadaj nową paczkę lub sprawdź gdzie jest Twoja paczka!</p>
    <hr class="my-4">
    <p class="text-white font-weight-bold">Użyj tych przycisków aby szybko wysłać paczkę lub podejrzeć, <br /> gdzie aktualnie znajduje się paczka na którą czekasz.</p>
    <button class="btn btn-outline-light mt-4 biala-ramka font-weight-bold cien">Wysyłam paczkę</button>
    <button class="btn btn-outline-light mt-4 biala-ramka font-weight-bold cien">Czekam na paczkę</button>
</div>

